.bar-group {
    background: #eee;
    height: 100px;
    padding: 10px;
}

div.bar {
    width: 30px;
    height: 30px;
    background-color: #c6c6c6;
    margin-bottom: 5px;
    transition: 1s;
}

div.bar.item1:hover {
    transition: 1s;
    width: 500px;
    background: #656565;
}

div.bar.item2:hover {
    transition: 1s;
    width: 300px;
    background: #656565;
}

div.bar.item3:hover {
    transition: 1s;
    width: 100px;
    background: #656565;
}